<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.andrios.marinepft"
      android:versionCode="16"
      android:versionName="1.4.3">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
      
    <application android:icon="@drawable/marine_corps_2" 
    			android:label="@string/app_name">
      
        
        <activity android:name=".MainActivity" 
        	android:label="@string/app_name" 
        	android:configChanges="orientation|keyboardHidden" 
        	android:screenOrientation="portrait"> 
        	<intent-filter>
        		<action android:name="andrios.android.intent.action.MAIN"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="PFTActivity" >
        	 
        		<intent-filter>
        		<action android:name="andrios.android.intent.action.PFT"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
       <activity android:name="InstructionsActivity" />
        <activity android:name="BCAActivity" >
        	 
        		<intent-filter>
        		<action android:name="andrios.android.intent.action.BCA"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        <activity android:name="CFTActivity" >
        	 
        		<intent-filter>
        		<action android:name="andrios.android.intent.action.CFT"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        
        <activity android:name="AboutActivity" />
        <activity android:name="CalculatorTabsActivity"
        android:configChanges="orientation|keyboardHidden" 
        	android:screenOrientation="portrait"  />
        <activity android:name="ProfileActivity" >
        	 
        		<intent-filter>
        		<action android:name="andrios.android.intent.action.PROFILE"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        <activity android:name="LogActivity" >
        	 
        		<intent-filter>
        		<action android:name="andrios.android.intent.action.LOG"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        <activity android:name="PftLogViewActivity" />
                <activity android:name="CftLogViewActivity" />
                        <activity android:name="BcaLogViewActivity" />

	<service android:name="net.robotmedia.billing.BillingService" />
		<receiver android:name="net.robotmedia.billing.BillingReceiver">
		    <intent-filter>
		        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
		        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
		        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
		    </intent-filter>
		</receiver>

    </application>
</manifest>